<!DOCTYPE HTML>
<html>

<head>
  <title>night_sky</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css" />
<script src="/static/js/jquery-1.12.4.min.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="47.94.130.85:8080/"><span class="logo_colour">瓜皮的时间轴</span></a></h1>
          <h2>感觉自己无敌啦！！！</h2>
        </div>
      </div>
    </div>
    <!-- 内容 -->
	{{.LayoutContent}}
    <div id="footer">
      <p>Copyright &copy; 瓜皮的时间轴 </p>
    </div>
  </div>
</body>
</html>
