
    <div id="site_content">
  
      <div style="margin-top:30px;height:500px;">
        <div class="form_settings" style="margin-top:100px;">
            <p style="margin-top:20px;"><span>昵称：</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p style="margin-top:20px;"><span>帐号：</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p style="margin-top:20px;"><span>密码：</span><input class="contact" type="text" name="your_email" value="" /></p>
            <button class="button">注册</button>
        </div>
      </div>
    </div>
